body {
	font-size: 14px;
	font-family: Verdana, monospace;
	display: block;
	color: white;
	letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	letter-spacing: 1.5px;
}

p {
	padding: 0;
	margin: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	width: 780px;
	min-height: 700px;
}

header .background {
	background: url("../images/eye.jpg");
	width: 780px;
	height: 180px;
}

header .background p {
	font-family: Arial, monospace;
	font-size: 24px;
	font-weight: bold;
	padding-left: 274px;
}

header .background h1 {
	font-size: 30px;
	padding: 50px 0 65px 290px;
	text-shadow: 1px 2px black;
}

img.pix {
	margin-top: 1px;
}

header .head-nav-bar {
	background: #8095a8 url(../images/dots.png) no-repeat 90px 2px;
	border-top: 1px solid #2d4758;
	border-bottom: 1px solid #2d4758;
	color: #ffffff;
}

header .head-nav-bar p {
	float: left;
	padding: 3px 0 0 5px;
	text-transform: uppercase;
	color: #c3d8f5;
	font-size: 11px;
	font-family: Arial, monospace;
}

header .head-nav-bar:after {
	display: block;
	content: '';
	clear: both;
}

header .head-nav-menu {
	float: right;
}

header .head-nav-menu:after {
	display: block;
	content: '';
	clear: both;
}

header .head-nav-menu div {
	float: left;
	background: url(../images/fff.png) no-repeat -5px 1px;
	margin: 0 -1px;
}

header .head-nav-menu div a {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 2px 6px 2px 6px;
	text-transform: uppercase;
	font-size: 11px;
}

img.pix2 {
	display: block;
	margin: 2px 0 0 2px;
}

.main_text .login_block {
	float: left;
	width: 300px;
	min-height: 330px;
	margin: 5px 0 0 5px;
	border-right: 1px solid #b6c5dd;
	padding-bottom: 15px;
}

.main_text .info_block {
	float: right;
	width: 460px;
	min-height: 300px;
	padding-left: 10px;
	padding-bottom: 35px;


}


.main_text::after {
	display: block;
	clear: both;
	content: '';
}

main .login_block h3 {
	background-color: #fca02a;
	width: 277px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Arial, monospace;
	padding: 5px 5px;
	background-image: url('../images/arrow2.jpg');
	background-repeat: no-repeat;
	background-position: 265px;
}

main .login_block p {
	color: #2d4758;
	font-size: 9px;
	margin: 9px 10px;
}

label {
	color: black;
	font-weight: bold;
	font-size: 11px;
	display: block;
	margin-left: 16px;
}

label#for_password,
label#for_repeated_password,
label#for_about_yourself {
	margin-top: 18px;
}

form {
	margin-top: 15px;
}


input {
	width: 145px;
	height: 17px;
	background-color: #c2d2ea;
	border: 1px solid #2d4758;
	display: block;
	margin-bottom: 10px;
}

input#password {
	margin-bottom: 10px;
}

input#repeated_password {
	margin-bottom: 5px;
}

.labels {
	float: left;
	margin-top: 5px;
}

.inputs {
	float: right;
	margin-right: 17px;
}


main .login_block button {
	background: url('../images/btn1.jpg');
	padding: 3px 15px;
	border-radius: 3px;
	border: 1px solid #2d4758;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	margin: 0 0 0 210px;
}

p.forgot_password {
	text-align: center;
	padding: 10px 0;
	text-decoration: underline;
}

.login_block .block {
	background-color: #fca02a;
	border: 2px solid #2d4758;
	border-radius: 15px;
	margin: 0 9px 16px 5px;
}

.login_block .block p {
	font-size: 9px;
	text-align: center;
	color: white;
	margin: 0;
	padding: 10px 2px 0 2px;
}

.login_block .block a {
	color: #2d4758;
	font-size: 9px;
	margin-left: 70px;
	display: block;
	padding-bottom: 5px;
}

.info_block h3 {
	background-color: #fca02a;
	width: 440px;
	border-radius: 5px;
	margin: 5px 0 0 5px;
	text-transform: uppercase;
	font-size: 11px;
	padding: 5px 5px;
	background-image: url('../images/arrow2.jpg');
	background-repeat: no-repeat;
	background-position: 430px;
}

.info_block .text {
	width: 455px;
}

.info_block h2 {
	font-family: Verdana, serif;
	font-size: 10px;
	font-weight: bold;
	color: black;
	padding: 10px 0 0 7px;
}

.info_block p {
	font-family: Verdana, serif;
	font-size: 9px;
	color: black;
	padding: 5px 5px 0 5px;
	letter-spacing: 1.5px;
	line-height: 1.5;
}

.img_info {
	float: right;
	margin: 0 11px 0 20px;
}

.last_news {
	border-top: 1px solid #b6c5dd;
	border-bottom: 1px solid #b6c5dd;
	padding-bottom: 10px;
}

.last_news h3 {
	background-color: #fca02a;
	width: 110px;
	border-radius: 6px;
	font-family: Arial, monospace;
	font-size: 11px;
	text-transform: uppercase;
	padding: 5px 5px 5px 10px;
	background-image: url('../images/arrow2.jpg');
	background-repeat: no-repeat;
	background-position: 100px;
	margin: 60px 0 10px -40px;
	transform: rotate(-90deg);
	float: left;

}

.last_news p {
	font-family: Verdana, serif;
	font-size: 10px;
	color: black;
	width: 733px;
	letter-spacing: 2px;
	line-height: 13px;
}

.last_block {
	margin-top: 20px;
	width: 730px;
	padding-bottom: 20px;
}

.last_block img {
	float: left;
	margin: 10px 30px 0 -30px;
}

img.pix4 {
	display: block;
	margin-top: 2px;
}

footer {
	margin-top: 3px;
}

footer p {
	background-color: #8095a8;
	border: 1px solid #2d4758;
	font-family: Verdana, serif;
	font-size: 11px;
	padding-left: 5px;
}